@import '../../styling/variables';

.dashboard {
    background-color: #F7F7F8;
    height: calc(100vh - 76px);

    @media (max-width: 814px) {
        height: calc(100vh - 200px);
    }

    .wrapper {
        width: 1000px;
        height: 810px;
        margin: 0 auto;

        display: flex;

        .left-container {
            width: 250px;
            margin-top: 10px;

            .dashboard-navbar {
                height: 130px;
                display: flex;
                flex-direction: column;
                background-color: white;

                h2 {
                    margin: 15px 15px 12px 15px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid grey;
                    font-family: $secondary-font;
                }
    
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0px 15px 15px 17px;
    
                    li {
                        margin-bottom: 12px;
    
                        &:hover {
                            cursor: pointer;
                            background-color: #F0F0F0;
                        }
                    }
                }
            }

            .conversations {
                height: calc(100vh - 249px);
                background-color: white;
                overflow: auto;
                margin-top: 10px;

                h2 {
                    margin: 15px 15px 12px 15px;
                    padding-bottom: 5px;
                    padding-top: 1px;
                    border-bottom: 1px solid grey;
                    font-family: $secondary-font;
                }
            }
        }

        .right-container {
            width: 750px;
            height: calc(100vh - 110px);
            margin-top: 10px;
            margin-left: 10px;
            background-color: white;
        }
    }
}