@import '../../styling/variables';

.post-form {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 25px;

    button {
        width: 100%;
        background-color: #006AFF;
        color: white;
        border: 1px solid #006AFF;
        font-size: 18px;
        padding: 8px;
        border-radius: 5px;
        transition: .8s;

        &:hover {
            cursor: pointer;
            color: #006AFF;
            background-color: white;
        }
    }

    h1 {
        font-family: $secondary-font;
        text-align: center;
    }

    section {
        input {
            width: 490px;
            border: none;
            border-bottom: 2px solid #006AFF;
            padding: 10px 5px;
            margin-bottom: 10px;
            outline: none;
        }

        select {
            width: 500px;
            border: none;
            border-bottom: 2px solid #006AFF;
            margin-bottom: 10px;
            padding: 10px 0;
            outline: none;
        }

        label {
            padding-left: 5px;
            font-size: 14px;
        }

        h2 {
            font-family: $secondary-font;
        }

        textarea {
            resize: none;
            outline: none;
            width: 476px;
            height: 120px;
            border: 2px solid #006AFF;
            border-radius: 4px;
            padding: 10px;
            margin-bottom: 10px;
        }
    }
}