$primary-font: 'Lato', sans-serif;
$secondary-font: 'Alegreya Sans', sans-serif;
$default: 'Roboto', sans-serif;

$blue: #006AFF;
$light-blue: #3A82D0;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}